.link__store
    background-color: transparent
.cart-block
    background: #FFF
.header
    position: relative
.p-0
    padding: 0
.w-100
    width: 100%
button.del-btn
    position: absolute
    right: 20px
    top: 20px
    background-color: transparent
    border-color: transparent
div
    font-family: sans-serif
section.promo, .content__info
    display: none

.cart-block
    position: absolute
    padding: 30px
.search-field
    border-color: #fff
    background: transparent
    height: 30px
.btn-search
    background: transparent
    height: 30px
    border-color: transparent