.link__store
    background-color: transparent
.cart-block
    background: #F8F8F8
.header
    position: relative
.p-0
    padding: 0
.w-100
    width: 100%
button.del-btn
    position: absolute
    right: 20px
    top: 20px
    background-color: transparent
    border-color: transparent
div
    font-family: sans-serif
section.promo, .content__info
    display: none


.search-field
    color: #fff
    border-color: #fff
    background: transparent
    height: 30px
.btn-search
    background: transparent
    height: 30px
    border-color: transparent
.mango__image
    height: auto
.mango__img
    display: flex
    align-items: center
.cart-block
    position: absolute
    padding: 20px
    min-width: 700px
    right: 0
    top: 70px
.card__mango
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    background: #fff
.search-form
    display: flex
    align-items: center
.fetured__image--style
    min-height: 250px
    position: relative
    display: flex
    align-items: center
    background: #FFF